.fast-card {
    margin: 1em auto;
    height: fit-content;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 1em;
    max-width: 100%;
    overflow-x: auto;
}

.fast-card-header {
    transition: color 0.3s;
    color: #333;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}

.fast-card-body {

}

.fast-card-footer {
    border-top: 1px solid #eee;
    margin-top: 1em;
    padding-top: 1em;
    overflow-x: auto;
}

.inline {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.statistic {
    background-color: rgba(0, 0, 0, 0.2);
    color: #333;
    padding: .5em 1em;
    border-radius: 8px;
    margin: auto 1em;
    text-align: center;
}

.statistic .title {
    font-weight: bold;
    width: 100%;
    display: block;
}