.fast-card {
    margin: 1em auto;
    height: fit-content;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 1em;
    max-width: 100%;
    overflow-x: auto;
}

.fast-card-header {
    transition: color 0.3s;
    color: #333;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.fast-card-header .fast-icon {
    float: right;
}

.fast-icon {
    padding: 2px;
    border-radius: 2px;
    max-height: 20px;
    cursor: pointer;

}

.fast-icon img {
    width: 20px;
}

.fast-card-body {
    margin-bottom: 1em;
}

.fast-card-footer {
    border-top: 1px solid #eee;

    padding-top: 1em;
}

.statistic-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: start;
    flex-wrap: wrap;
}

.w-100 {
    width: 100%;
}

.statistic {
    color: #333;
    padding: .5em 1em;
    margin: .5em auto;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    min-width: 21%;
    background-color: white;
}

.statistic .title {
    font-weight: 700;
    font-size: 1.5rem;
    display: block;
    line-height: 1;
    margin: 0 auto;
}

.fast-table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    border-radius: 15px;
}

.fast-table thead tr {
    background-color: #eaeaea;

}

.fast-table thead th {
    color: #666;
    text-align: left;
    font-weight: 700;
    white-space: nowrap;
    text-transform: capitalize;
    border: 0 !important;
}

.fast-table thead th:first-child {
    border-radius: 12px 0 0 12px;
}

.fast-table thead th:last-child {
    border-radius: 0 12px 12px 0;
}


.fast-table th,
.fast-table td {
    padding: 12px 15px;
}

.fast-table tbody tr {
    border-bottom: 1px solid #eee;
}

.fast-table tbody tr:last-of-type {
    border-bottom: none;
}

.fast-number-container {
    display: block;
}

.fast-number-container .fast-number:not(:first-child) {
    border-top: 1px solid #eee;
}

.fast-number {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    padding: 1em 0;
}

.fast-number .title {
    font-weight: bold;
    color: #333;
    font-size: 1.8em;
    display: block;
    text-align: center;
    padding-right: .5em;;
}

.fast-number .value {
    color: #999;
    font-size: 1em;
    display: block;
    text-align: center;
}

.fast-bar {
    display: block;
}

.fast-bar .info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fast-bar .info .title {
    font-size: 1.5em;
    margin: auto .25em;
    color: #333 !important;
}

.fast-bar .info .value {
    font-size: 1em;
    color: #888 !important;
}

.fast-bar .bar {
    border-radius: 16px;
    background-color: #f1f1f1 !important;
    margin: .5em .5em 1em;
    padding: 0.2em;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease
}

.fast-bar .bar-inner {
    background-color: #666 !important;
    border-radius: 16px;
    padding: .3em 0;
    position: relative;
}

.fast-bar .bar-inner .progress {
    background-color: #fff !important;
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0;
    -webkit-animation: progress-active 2s ease infinite;
    animation: progress-active 2s ease infinite;
}

@-webkit-keyframes progress-active {
    0% {
        opacity: .6;
        width: 0
    }
    100% {
        opacity: 0;
        width: 100%
    }
}

.fast-number p {
    margin-top: .5em;
    font-style: italic;
    font-size: 1.1em;
    color: #999;
    text-align: center;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

@media (max-width: 600px) {
    .statistic {
        width: 100% !important;
    }
}

@media print {
    .fast-icon {
        display: none !important;
    }
}